name: CI Loop

# Run this workflow every time a new commit pushed to your repository
on: push

jobs:
  # Set the job key. The key is displayed as the job name
  # when a job name is not provided
  build:
    name: Basic Checks and Build

    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.9.1'

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1
        with:
          vs-version: '16.5'

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1

      - name: Check node modules cache
        uses: actions/cache@v1
        id: yarn-cache
        with:
          path: ./node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install node modules
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn --pure-lockfile

      - name: yarn build
        if: steps.yarn-cache.outputs.cache-hit == 'true'
        run: |
          yarn build
          yarn tsc
          yarn lint

      - name: Run Windows x64 release
        run: npx react-native run-windows --arch x64 --release --no-packager --no-deploy --logging --buildLogDirectory \BuildLogs\x64
